*{
    padding: 0px;
    margin: 0px;
}
.head{
    height: 50px;
    width:600px;
    border: 2px solid blueviolet;
    display: flex;
    justify-content: end;
    margin-top: 15px;
    margin-left: 15px;
    background-color: aquamarine;
    
    
}
.boxa{
    height: 30px;
    width:200px;
    background-color: rgb(87, 231, 244);
    border: 2px solid rgb(67, 176, 231);
    /* margin-top: 10px;
    margin-right: 10px; */
    position: relative;
    top: 9px;
    right: 10px;
   
}
.parent{
    height: 500px;
    width: 600px;
    border: 2px solid rgb(118, 185, 118);
    position: relative;
    top: 10px;
    left: 15px;
}
.box{
    height: 50px;
    width:200px;
    border: 2px solid rgb(150, 74, 221);
    background-color: rgb(230, 235, 135);
    margin-top: 10px;
    /* margin-right: 40px; */
    position: relative;
    left:40px ;
    padding: 10px;
}
.parent2{
    height: 340px;
    width: 320px;
    border: 2px solid rgb(230, 105, 226);
    background-color: rgb(106, 215, 189);
    position: relative;
    top: 20px;
    left: 25px;
    padding: 20px;
}
.parent3{
    height: 460px;
    width: 150px;
    border: 2px solid rgb(118, 185, 118);
    background-color: rgb(139, 247, 255);
    position: absolute;
    top: 20px;
    left: 420px;
    /* padding: 20px;
    display: flex;
    justify-content: center; */
}
.box5{
        height: 140px;
        width:120px;
        border: 2px solid rgb(231, 100, 60);
        background-color: rgb(148, 196, 255);
        margin-top: 11px;
        margin-right: 40px;
        position: relative;
        left:13px;
        top: 40px;
        padding-top: 20px;

      
}
.box6{
    height: 70px;
    width:370px;
    border: 2px solid rgb(107, 236, 191);
    background-color: rgb(199, 150, 243);
    position: relative;
    top: 30px;
    left: 20px;
}
.footer{
    height: 70px;
    width:600px;
    border: 2px solid rgb(107, 236, 191);
    background-color: rgb(211, 213, 254);
    position: relative;
    top: 30px;
    left: 15px;

}
.bigparent{
    position: relative;
    left: 300px;
}